@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@layer base {
  * {
    color: rgb(35, 50, 63);
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(35, 50, 63);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  input {
    padding: 0.1rem 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
}

/* @layer components {
  .base-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    display: flex;
    flex-direction: column;
  }

  .base-card__header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .base-card__footer {
    margin-top: 1rem;
    text-align: right;
  }
} */
